*.ipynb_checkpoints/
__pycache__/
*.pyc

# Data files
*data/

# Custom generated temp files and folders
*.temp/
*temp.json
*exports_page_*/
*.*temp*/

# 
*.log

# Environment files
*.env
*.venv
*.*env

# Database files
*.sqlite
*.db
__pycache__/
*.pyc
